<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/home/index">主页</a>
    </li>

    <li>
      <a href="/patients">患者管理</a>
    </li>
    <li class="active">添加患者&就诊</li>
  </ul><!-- .breadcrumb -->

</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-10">
      <!-- PAGE CONTENT BEGINS -->
      <% if params[:file_type]=="1" %>
        <%= render partial: "form_easy" %>
      <% elsif params[:file_type]=="2" %>
          <%= render partial: "form_detail" %>
      <% end %>
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

    <div class="col-xs-2">
      <div class="fixed_div">
        <ul class="nav">
          <li>
            <a href="#patient">基本信息</a>
          </li>
          <li>
            <a href="#patient_visit">就诊信息</a>
          </li>
          <% if !@crf_info.nil? %>
              <% sections = @crf_info.sections %>
              <% sections.each do |section| %>
                  <li>
                    <a href="#section<%= section.id %>"><%= section.title %></a>
                  </li>
              <% end %>
          <% end %>

        </ul>
      </div>


    </div>
  </div><!-- /.row -->
</div>

