<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/home/index">主页</a>
    </li>

    <li>
      <a href="/patients">患者管理</a>
    </li>
    <li class="active">添加患者&就诊</li>
  </ul><!-- .breadcrumb -->

</div>



